*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Manrope", sans-serif;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Blue);
}

.container {
    width: 70rem;
    display: grid;
    grid-template-columns: 38% 1fr;
}

.img-container {
    width: 100%;
    height: 100%;
    background: url(images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
}

/* RIGHT SIDE */

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 1.7rem;
    padding: 3rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 0 1rem 1rem 0;

}

h1 {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
    letter-spacing: .05rem;
}

p {
    font-size: 1.3rem;
    color: var(--Desaturated-Dark-Blue);
    letter-spacing: .03rem;
    margin-left: 1rem;
}

.contact-div {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#profile-pic {
    width: 3.4rem;
    border-radius: 50%;
}

h2 {
    font-size: 1.4rem;
    color: var(--Very-Dark-Grayish-Blue);
}

.profiles p {
    color: var(--Grayish-Blue);
}

#share-div-1 {
    background-color: var(--Light-Grayish-Blue);
    padding: .8rem;
    border-radius: 50%;
}

#share-div-1:hover {
    cursor: pointer;
}

.inverted-light {
    fill: var(--Light-Grayish-Blue);
}

#share-div-1.inverted-dark {
    background-color: var(--Very-Dark-Grayish-Blue);
}

#socials {
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: .75rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    position: relative;
    top: -14rem;
    left: 51.5rem;
}

#share-div-2 {
    display: none;
}

#socials p {
    color: var(--Grayish-Blue);
    padding: .5rem 1rem;
    font-size: 1.4rem;
    z-index: 1;
    letter-spacing: .4rem;
}

.social-links {
    padding: 1rem .5rem .7rem .5rem;
    z-index: 1;
}

.social-links a {
    padding: 0 1em;
}

.arrow {
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    top: 40%;
    left: 45%;
    transform: rotate(45deg);
    width: 4rem;
    height: 4rem;
}

.hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background-color: var(--Light-Grayish-Blue);
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a {
    text-decoration: none;

}

@media (max-width: 450px) {
    main {
        width: 100vw;
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .img-container {
        width: 100%;
        height: 20rem;
        background-size: cover;
        border-radius: 1rem 1rem 0 0;
    }

    .text-container {
        border-radius: 0 0 1rem 1rem;
    }

    h1 {
        font-size: 1.6rem;
        line-height: 2.3rem;
 
    }

    p {
        line-height: 2.2rem;
        font-size: 1.3rem;
        padding: .2rem;
    }

    .contact-div {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #socials {
        position: relative;
        top: -8rem;
        left: 0;
        width: 100%;
        height: 7rem;
        border-radius: 0 0 1rem 1rem;
        align-items: center;
        justify-content: space-around;
    }

    #socials p {
        margin: 0 0 0 -1rem;
    }

    .social-links {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-left: -5rem;
    }

    .social-links a {
        margin: -.3rem;
    }

    #share-div-1 {
        display: block;
        background-color: var(--Light-Grayish-Blue);
        padding: .7rem;
        border-radius: 50%;
    }
    
    #share-div-2 {
        display: block;
        background-color: var(--Desaturated-Dark-Blue);
        padding: .7rem;
        border-radius: 50%;
    }

    #share-div-2:hover {
        cursor: pointer;
    }

    #share-div-2.inverted-light {
        fill: var(--Light-Grayish-Blue);
    }

    .share-icon {
        width: 1.5rem;
    }

    .arrow {
        display: none;
    }
}